@inherits BaseRootSection

@if (!StateIsChanging)
{
    @if (CurrentState?.PageType == PageType.Node)
    {
        <div class="content">
            @if (Sections == null || !Sections.Any())
            {
                <p>Loading..</p>
            }
            else
            {
                @foreach (var mainSection in Sections)
                {
                    <CascadingEditContext EditContext=@mainSection.editContext>
                        <ButtonBar Buttons="Buttons" OnButtonClick="ButtonOnClickAsync" />

                        <EditContextStrayErrors />

                        @foreach (var section in mainSection.sections)
                        {
                            var renderFragment = section.ToRenderFragment();

                            if (renderFragment != null)
                            {
                                @renderFragment
                            }
                            else
                            {
                                <BlockSection Section="section" OnButtonClick="ButtonOnClickAsync" />
                            }
                        }
                    </CascadingEditContext>
                }
            }
        </div>
    }
    else if (CurrentState?.PageType == PageType.Collection)
    {
        @if (ListContext == null || ListUI == null || Sections == null)
        {
            <div class="content">
                <p>Loading..</p>
            </div>
        }
        else if (ListUI.ListType == ListType.Table)
        {
            <div class="content">
                <CascadingEditContext EditContext=@ListContext.ProtoEditContext>
                    <Tabbar Tabs="Tabs"
                            SearchBarVisible="ListUI.SearchBarVisible"
                            State="CurrentState"
                            OnSearch="SearchAsync"
                            OnTabChange="TabChangeAsync" />
                    <ButtonBar Buttons="Buttons" OnButtonClick="ListButtonOnClickAsync" />
                </CascadingEditContext>

                <TableSection UI="ListUI"
                              Sections="Sections"
                              CurrentPage="CurrentState.CurrentPage"
                              MaxPage="CurrentState.MaxPage"
                              OnButtonClick="NodeButtonOnClickAsync"
                              OnRowDragged="OnRowDraggedAsync"
                              OnPageChanged="PageChangedAsync" />
            </div>
        }
        else if (ListUI.ListType == ListType.Block)
        {
            <div class="content buttons-only">
                <CascadingEditContext EditContext=@ListContext.ProtoEditContext>
                    <Tabbar Tabs="Tabs"
                            SearchBarVisible="ListUI.SearchBarVisible"
                            State="CurrentState"
                            OnSearch="SearchAsync"
                            OnTabChange="TabChangeAsync" />
                    <ButtonBar Buttons="Buttons" OnButtonClick="ListButtonOnClickAsync" />
                </CascadingEditContext>
            </div>

            <BlocksSection Sections="Sections"
                           CurrentPage="CurrentState.CurrentPage"
                           MaxPage="CurrentState.MaxPage"
                           OnButtonClick="NodeButtonOnClickAsync"
                           OnPageChanged="PageChangedAsync" />
        }
    }
    else if ((CurrentState?.PageType == PageType.Page || CurrentState?.PageType == PageType.Dashboard) && PageContents != null)
    {
        <CascadingValue Name="Embedded" Value="true">
            @foreach (var section in PageContents)
            {
                @RenderType(section);
            }
        </CascadingValue>
    }
    else if (CurrentState?.PageType == PageType.Unauthorized)
    {
        <UnauthorizedSection />
    }
    else if (CurrentState?.PageType == PageType.Error)
    {
        <ErrorSection />
    }
}