<div class="content">
    <p><strong>Unauthorized</strong></p>
    <p>You are unauthorized to perform the requested action.</p>
    <p><a href="javascript: location.reload()" class="btn btn-primary">Return to home and start again.</a></p>
</div>