@inherits BasePage

@layout MainLayout

@page "/node/{Action}/{CollectionAlias}/entity/{VariantAlias}"
@page "/node/{Action}/{CollectionAlias}/entity/{VariantAlias}/{Id}"
@page "/node/{Action}/{ParentId}/{CollectionAlias}/entity/{VariantAlias}"
@page "/node/{Action}/{ParentId}/{CollectionAlias}/entity/{VariantAlias}/{Id}"

@if (EditContext == null)
{
    <div class="content">
        <p>Loading..</p>
    </div>
}
else
{
    <CascadingEditContext EditContext=@EditContext>
        <Buttonbar Buttons="Buttons" OnButtonClick="ButtonOnClickAsync" />

        @if (Sections != null)
        {
            @foreach (var section in Sections)
            {
                if (!string.IsNullOrEmpty(section.CustomAlias))
                {
                    @CustomSections.GetCustomSection(section.CustomAlias, section);
                }
                else
                {
                    <BlockSection Section="section" />
                }
            }
        }
    </CascadingEditContext>
}

@code {
    [Inject] private IEditContextService EditContextService { get; set; }
    [Inject] private IEditorService EditorService { get; set; }

    EditContext? EditContext;
    IEnumerable<ButtonUI>? Buttons;
    IEnumerable<SectionUI>? Sections;

    protected override async Task LoadDataAsync(bool reload = false)
    {
        try
        {
            var editContext = await EditContextService.GetEntityAsync(GetUsageType(), CollectionAlias, VariantAlias, ParentId, Id);
            var view = await EditorService.GetNodeAsync(GetUsageType(), CollectionAlias);

            Buttons = await view.GetButtonsForEditContextAsync(editContext);
            Sections = await view.GetSectionsForEditContextAsync(editContext);

            EditContext = editContext;

            EditContext.OnFieldChanged += (s, a) => StateHasChanged();

            StateHasChanged();
        }
        catch
        {
            EditContext = null;

            throw;
        }
    }

    async void ButtonOnClickAsync(object? sender, ButtonClickEventArgs args)
    {
        var model = sender as ButtonViewModel;

        try
        {
            if (model == null)
            {
                throw new ArgumentException($"Argument must be of type {typeof(ButtonViewModel)}.", nameof(sender));
            }

            var command = await EditContextService.ProcessEntityActionAsync(GetUsageType(), CollectionAlias, ParentId, Id, args.EditContext, model.ButtonId, args.Data);

            await HandleViewCommandAsync(command);
        }
        catch (Exception ex)
        {
            HandleException(ex);
        }
    }
}
