@inherits BasePage

@layout MainLayout

@page "/node/{Action}/{CollectionAlias}/entity/{VariantAlias}"
@page "/node/{Action}/{CollectionAlias}/entity/{VariantAlias}/{Id}"
@page "/node/{Action}/{ParentId}/{CollectionAlias}/entity/{VariantAlias}"
@page "/node/{Action}/{ParentId}/{CollectionAlias}/entity/{VariantAlias}/{Id}"

@if (UI == null)
{
    <div class="content">
        <p>Loading..</p>
    </div>
}
else
{
    <CascadingEditContext EditContext=@UI.EditContext>
        @if (UI.Buttons != null)
        {
            <div class="top-row first">
                @{
                    @foreach (var button in UI.Buttons)
                    {
                        var model = button.ToViewModel();

                        // TODO: deattach
                        model.OnClick += ButtonOnClickAsync;

                        <UIButton Button="button" Model="model" />
                    }
                }
            </div>
        }

        @if (UI.Sections != null)
        {
            @foreach (var section in UI.Sections)
            {
                if (!string.IsNullOrEmpty(section.CustomAlias))
                {
                    @CustomSections.GetCustomSection(section.CustomAlias, section);
                }
                else
                {
                    <BlockSection Section="section" />
                }
            }
        }
    </CascadingEditContext>
}

@code {

    [Inject] private ICollectionService CollectionService { get; set; }

    NodeUI? UI;

    protected override async Task LoadDataAsync()
    {
        try
        {
            UI = await CollectionService.GetNodeEditorAsync(Action, CollectionAlias, VariantAlias, ParentId, Id);

            StateHasChanged();
        }
        catch
        {
            UI = null;

            throw;
        }
    }

    async void ButtonOnClickAsync(object sender, ButtonClickEventArgs args)
    {
        var model = sender as ButtonViewModel;

        try
        {
            if (model == null)
            {
                throw new ArgumentException($"Argument must be of type {typeof(ButtonViewModel)}.", nameof(sender));
            }

            if (UI == null)
            {
                throw new InvalidOperationException("UI is null");
            }

            var relations = new RelationContainer(UI.Sections.SelectMany(x => x.GetRelations()));

            var command = await CollectionService.ProcessNodeEditorActionAsync(CollectionAlias, VariantAlias, ParentId, Id, args.EditContext, model.ButtonId, args.Data);

            await HandleViewCommandAsync(command);
        }
        catch (Exception ex)
        {
            HandleException(ex);
        }
    }
}
