@typeparam TContext

@inherits  BaseButton<TContext>

<button type="button" class="btn @(Context.IsPrimary ? "btn-primary" : "btn-light")" onclick="@ButtonClickAsync">
    <i class="oi oi-@Context.Icon"></i> @Context.Label
</button>