@inherits  BaseButton

<button type="button" 
        class="btn @(Model.IsPrimary ? "btn-primary" : (Model.ShouldConfirm) ? "btn-danger" : "btn-light")" 
        @onclick=@ButtonClickAsync
        disabled=@(!FormIsValid && Model.RequiresValidForm ? "disabled" : null)>
    <i class="oi oi-@Model.Icon"></i> @Model.Label
</button>
