@inherits BaseCollection

@layout MainLayout

@page "/{Action}/{CollectionAlias}"
@page "/{Action}/{Path}/{CollectionAlias}"

@if (ListContext == null || ListUI == null)
{
    <div class="content">
        <p>Loading..</p>
    </div>
}
else
{
    <CascadingEditContext EditContext=@ListContext.ProtoEditContext>
        <Tabbar Tabs="Tabs" SearchBarVisible="ListUI.SearchBarVisible" OnSearch="SearchAsync" OnTabChange="TabChangeAsync" />
        <ButtonBar Buttons="Buttons" OnButtonClick="ListButtonOnClickAsync" />
    </CascadingEditContext>

    @if (Sections != null)
    {
        @if (ListUI.ListType == ListType.Table)
        {
            <TableSection UI="ListUI"
                          Sections="Sections"
                          CurrentPage="CurrentPage"
                          MaxPage="MaxPage"
                          OnButtonClick="NodeButtonOnClickAsync"
                          OnRowDragged="OnRowDraggedAsync"
                          OnPageChanged="PageChangedAsync" />
        }
        else if (ListUI.ListType == ListType.Block)
        {
            <BlocksSection Sections="Sections"
                           CurrentPage="CurrentPage"
                           MaxPage="MaxPage"
                           OnButtonClick="NodeButtonOnClickAsync"
                           OnPageChanged="PageChangedAsync" />
        }
    }
}
