@page "/error"

@layout MainLayout

@inject IExceptionHelper ExceptionHelper
@inject IMetadataProvider Metadata

<div class="content">
    <p>An errror occured when your request was made.</p>
    <p><a href="/" class="btn btn-primary">Return to home and start again.</a></p>
</div>

@{
    if (Metadata.IsDevelopment)
    {
        var ex = ExceptionHelper.GetLatestException();

        if (ex != null)
        {
            <div class="content">
                <p><code>@ex.Message</code></p>

                <pre>@ex.StackTrace</pre>

                @{
                    var innerException = ex.InnerException;

                    while (innerException != null)
                    {
                        <p><code>@innerException.Message</code></p>

                        innerException = innerException.InnerException;
                    }
                }
            </div>
        }
    }
    else
    {
        <div class="content">
            <p>To enable exception view, set <code>isDevelopment</code>:</p>
            <pre>app.UseRapidCMS(isDevelopment: env.IsDevelopment());</pre>
        </div>
    }
}