@inherits BaseNode

@layout MainLayout

@page "/{Action}/{CollectionAlias}/entity/{VariantAlias}"
@page "/{Action}/{CollectionAlias}/entity/{VariantAlias}/{Id}"
@page "/{Action}/{Path}/{CollectionAlias}/entity/{VariantAlias}"
@page "/{Action}/{Path}/{CollectionAlias}/entity/{VariantAlias}/{Id}"

@if (EditContext == null)
{
    <div class="content">
        <p>Loading..</p>
    </div>
}
else
{
    <CascadingEditContext EditContext=@EditContext>
        <ButtonBar Buttons="Buttons" OnButtonClick="ButtonOnClickAsync" />

        <EditContextStrayErrors />

        @if (Sections != null)
        {
            @foreach (var section in Sections)
            {
                var renderFragment = section.ToRenderFragment();

                if (renderFragment != null)
                {
                    @renderFragment
                }
                else
                {
                    <BlockSection Section="section" OnButtonClick="ButtonOnClickAsync" />
                }
            }
        }
    </CascadingEditContext>
}
