@inject ITreeService TreeService

@if (UI == null)
{
    <li>Loading tree..</li>
}
else if (UI.RootVisible)
{
    <li class="nav-item">
        @if (UI.EntitiesVisible)
        {
            <button @onclick="@((UIMouseEventArgs e) => NodesVisible = !NodesVisible)" class="toggle">
                @if (NodesVisible)
                {
                    <i class="oi oi-chevron-bottom"></i>
                }
                else
                {
                    <i class="oi oi-chevron-right"></i>
                }
            </button>
        }
        else
        {
            <button class="toggle" disabled>
                <i class="oi oi-minus"></i>
            </button>
        }

        @if (UI.Path != null)
        {
            <NavLink href=@UI.Path><i class="oi oi-@UI.Icon"></i> @UI.Name</NavLink>
        }
        else
        {
            <a href="#" class="disabled"><i class="oi oi-lock-locked"></i> @UI.Name</a>
        }
        @if (NodesVisible)
        {
            <Nodes CollectionAlias=@CollectionAlias ParentId=@ParentId />
        }
    </li>
}
else
{
    <Nodes CollectionAlias=@CollectionAlias ParentId=@ParentId />
}

@functions {

    bool NodesVisible = false;

    TreeUI? UI;

    protected override async Task OnInitAsync()
    {
        UI = await TreeService.GetTreeAsync(CollectionAlias, ParentId);
    }

    [Parameter]
    private string CollectionAlias { get; set; }

    [Parameter]
    private string? ParentId { get; set; } = null;
}
