@inherits BaseEditContextSection

@using RapidCMS.UI.Components.Sections

<tr>
    <td>
        <p>Custom pane</p>
    </td>
    <td colspan="99">
        <p>Entity <code>@EditContext.Entity.Id</code> performing <kbd>@EditContext.UsageType.ToString()</kbd>.</p>
    </td>
</tr>