@inherits BaseEditContextSection

@using RapidCMS.UI.Components.Sections

<div class="content">
    <h3>Custom pane</h3>
    <p>Entity <code>@EditContext.Entity.Id</code> performing <kbd>@EditContext.UsageType.ToString()</kbd>.</p>
</div>