@inherits BaseSection

@using RapidCMS.UI.Components.Sections

<div class="content px-4">
    <h1>Super fancy dashboard</h1>
    <p>Entity @Subject.Entity.Id performing @Subject.UsageType.ToString().</p>
</div>