@inherits BaseSection

@using RapidCMS.UI.Components.Sections

<div class="content">
    <h1 class="display-1">Super fancy dashboard</h1>
    <p>Entity <code>@EditContext.Entity.Id</code> performing <kbd>@EditContext.UsageType.ToString()</kbd>.</p>
</div>