@inject NavigationManager Navigation
@inject OpenidConnectPkce openidConnectPkce

<h4>Hi!</h4>

<p>Please sign in to access the CMS.</p>

<hr />

<a class="btn btn-primary" href="#" @onclick="BeginLoginAsync">Login via OIDC</a>

@*
    when using MSAL
    @if (action != null)
    {
        <hr />

        <RemoteAuthenticatorView Action="@action" />
    }*@

@code {
    string? action;

    private async Task BeginLoginAsync(MouseEventArgs args)
    {
        // when using MSAL
        // action = "login";

        await openidConnectPkce.LoginAsync();
    }
}