@inherits RapidCMS.UI.Components.Sections.BaseSection

<div class="content">
    <pre>
config.AddCollection&lt;Person, LocalStorageRepository&lt;Person>>("person-with-countries", "Person With Countries", collection =>
{
    collection
        .SetTreeView(x => x.Name)
        .SetListView(view =>
        {
            view.AddDefaultButton(DefaultButtonType.New);

            view.AddRow(row =>
            {
                row.AddField(p => p.Id).SetName("ID");
                row.AddField(p => p.Name);

                row.AddDefaultButton(DefaultButtonType.Edit);
            });
        })
        .SetNodeEditor(editor =>
        {
            editor.AddDefaultButton(DefaultButtonType.SaveExisting, isPrimary: true);
            editor.AddDefaultButton(DefaultButtonType.SaveNew, isPrimary: true);

            editor.AddDefaultButton(DefaultButtonType.Delete);

            editor.AddSection(section =>
            {
                section.AddField(x => x.Id).SetType(EditorType.Readonly);
                section.AddField(x => x.Name);
                section.AddField(x => x.Email);
            });

            editor.AddSection(section =>
            {
                section.AddField(x => x.Bio).SetType(EditorType.TextArea);
            });

            editor.AddSection(section =>
            {
                section.VisibleWhen((person, state) => state == EntityState.IsExisting);

                section.AddSubCollectionList&lt;Country, LocalStorageRepository&lt;Country>>(subCollection =>
                {
                    subCollection.SetListEditor(listEditor =>
                    {
                        listEditor.AddDefaultButton(DefaultButtonType.New);
                        listEditor.AddDefaultButton(DefaultButtonType.Return);

                        listEditor.AddSection(row =>
                        {
                            row.AddField(p => p.Id).SetType(DisplayType.Label);
                            row.AddField(p => p.Name);

                            row.AddDefaultButton(DefaultButtonType.SaveExisting, isPrimary: true);
                            row.AddDefaultButton(DefaultButtonType.SaveNew, isPrimary: true);
                            row.AddDefaultButton(DefaultButtonType.Delete);
                        });
                    });
                });
            });

            editor.AddSection(typeof(PersonCountryCollection));
        });
});
</pre>
</div>