@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<div class="login">
    @if (Body != null)
    {
        @Body
    }
    else if (CustomLoginScreen != null)
    {
        @CustomLoginScreen
    }
    else
    {
        <h4>User login required</h4>
        <p>Configure a login component using <code>config.SetCustomLoginScreen(typeof(YourLoginControl))</code>, or 
            use <code>config.AllowAnonymousUser()</code> to allow any user.</p>
    }
</div>

@code  {
    [CascadingParameter(Name = "CustomLoginScreen")]
    private RenderFragment? CustomLoginScreen { get; set; }
}