@inherits LayoutComponentBase

<div class="top" dir="ltr">
    <TopBar />
</div>

<div class="sidebar" dir="ltr">
    <NavMenu />
</div>

<div class="main" dir="ltr">

    <MessageBox />

    @Body
</div>

<SidePane />