@inject ITreeService TreeService
@inject NavigationManager NavigationManager

<div class="top-row navbar navbar-dark">
    @if (TreeRoot != null)
    {
        <a class="navbar-brand" href="">@TreeRoot.Name</a>
    }

    @if (CustomLogin != null)
    {
        @CustomLogin
    }
</div>

<div class="navroot">
    <ul class="nav flex-column">
        @if (TreeRoot != null)
        {
            @foreach (var collection in TreeRoot.Collections)
            {
                <Tree CollectionAlias=@collection />
            }
        }
    </ul>
</div>

@code {

    TreeRootUI? TreeRoot;

    [CascadingParameter(Name = "CustomLogin")]
    private RenderFragment? CustomLogin { get; set; }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += LocationChanged;
        
        TreeRoot = TreeService.GetRoot();
    }

    private void LocationChanged(object sender, LocationChangedEventArgs args)
    {
        StateHasChanged();
    }
}
