@inject ITreeService TreeService
@inject NavigationManager NavigationManager

<div class="navroot">
    <ul class="nav flex-column">
        @if (TreeRoot != null)
        {
            @foreach (var collection in TreeRoot.Collections)
            {
                <Tree CollectionAlias=@collection />
            }
        }
    </ul>
</div>

@code {
    TreeRootUI? TreeRoot;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += LocationChanged;
        
        TreeRoot = TreeService.GetRoot();
    }

    private void LocationChanged(object sender, LocationChangedEventArgs args)
    {
        StateHasChanged();
    }
}
