@inherits BaseEditor<string>

@using RapidCMS.Common.Data

@if (Options != null)
{
    var value = Property.Getter(Entity);

    <select class="form-control">
        <option value=""></option>
        @foreach (var option in Options)
        {
            <option value="@option.Id" selected=@(option.Id.Equals(value)) onchange=@(args => Property.Setter(Entity, option.Id))>@option.Label</option>
        }
    </select>
}
@functions {
#nullable enable

    private IEnumerable<IOption>? Options;

    protected override async Task OnInitAsync()
    {
        if (DataProvider != null)
        {
            Options = await DataProvider.GetAllOptionsAsync();
        }
    }
}