@inherits BaseDataEditor

@using RapidCMS.Common.Data

@if (Options != null)
{
    <select class="form-control" onchange=@OnChange value="@SelectedIndex">
        <option value="-1"></option>
        @foreach (var (option, index) in Options.Select((o, i) => (o, i)))
        {
            <option value=@index>@option.Label</option>
        }
    </select>
}
@functions {

    private IEnumerable<IElement>? Options;
    private int SelectedIndex = -1;

    protected override async Task OnInitAsync()
    {
        if (DataCollection != null)
        {
            var value = GetValue(false);

            var data = await DataCollection.GetAvailableElementsAsync();

            var list = data?.ToList();

            SelectedIndex = list?.FindIndex(option => option.Id == value) ?? -1;

            Options = list;
        }
    }

    private void OnChange(UIChangeEventArgs args)
    {
        var index = int.Parse((string)args.Value);

        if (index == -1)
        {
            SetValue(null, false);
        }
        else
        {
            SetValue(Options.ElementAt(index).Id, false);
        }
    }
}