@inherits BaseEditor<string>

@using RapidCMS.Common.Data

@if (Options != null)
{
    var group = Guid.NewGuid().ToString();

    <select class="form-control" bind=@Value>
        <option value=""></option>
        @foreach (var option in Options)
        {
            <option value="@option.Id">@option.Label</option>
        }
    </select>
}
@functions {
#nullable enable

    private IEnumerable<IOption>? Options;

    protected override async Task OnInitAsync()
    {
        if (DataProvider != null)
        {
            Options = await DataProvider.GetAllOptionsAsync();
        }
    }
}