@inherits BaseDataEditor

@using RapidCMS.Common.Data
@using RapidCMS.UI.Helpers

@if (Options != null)
{
    <select class="form-control @(CssHelper.GetValidationClass(State))" onchange=@OnChange value="@SelectedIndex">
        <option value="-1"></option>
        @foreach (var (option, index) in Options.Select((o, i) => (o, i)))
        {
            <option value=@index>@option.Labels.First()</option>
        }
    </select>

    @foreach (var message in GetValidationMessages())
    {
        <div class="invalid-feedback">
            @message
        </div>
    }
}
@functions {

    private IEnumerable<IElement>? Options;
    private int SelectedIndex = -1;

    protected override async Task OnParametersSetAsync()
    {
        if (DataCollection != null)
        {
            var value = GetValue(false);

            await DataCollection.SetEntityAsync(Entity);
            var data = await DataCollection.GetAvailableElementsAsync();

            var list = data?.ToList();

            SelectedIndex = list?.FindIndex(option => option.Id.Equals(value)) ?? -1;

            Options = list;
        }
    }

    private void OnChange(UIChangeEventArgs args)
    {
        var index = int.Parse((string)args.Value);

        if (index == -1)
        {
            SetValue(null, false);
        }
        else
        {
            SetValue(Options.ElementAt(index).Id, false);
        }
    }
}