@inherits BaseEditor

@using RapidCMS.Common.Data

@if (Options != null)
{
    var value = Property.Getter(Entity) as ICollection<object>;

    var index = 0;
    var group = Guid.NewGuid().ToString();

    <div class="form-control form-control-select-list">
        @foreach (var option in Options)
        {
            <div class="form-check">
                <input class="form-check-input" 
                       type="checkbox" 
                       value="@option.Id" 
                       id="@group-option@(++index)" 
                       name=@group 
                       checked=@(value?.Contains(option.Id)) 
                       onchange=@((UIChangeEventArgs __e) => OnChange(__e, option.Id)) />
                <label class="form-check-label" for="@group-option@(index)">
                    @option.Label
                </label>
            </div>
        }
    </div>
}
@functions {
#nullable enable

    private IEnumerable<IOption>? Options;

    protected override async Task OnInitAsync()
    {
        if (DataProvider != null)
        {
            Options = await DataProvider.GetAllOptionsAsync();
        }
    }

    private void OnChange(UIChangeEventArgs e, object value)
    {
        ICollection<object>? entityValue = Property.Getter(Entity) as ICollection<object>;

        if (entityValue == null)
        {
            entityValue = new List<object>();
        }

        if ((bool)e.Value == true)
        {
            entityValue.Add(value);
        }
        else
        {
            entityValue.Remove(value);
        }

        Property.Setter(Entity, value);
    }
}