@inherits BaseEditor<long>

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">#</span>
    </div>
    <input bind="@Value" type="number" class="form-control" />
</div>
