@inherits BaseEditor<long>

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">#</span>
    </div>
    <input value=@ValueMapper.MapToEditor(null, Property.Getter(Entity))
           onchange=@(args => Property.Setter(Entity, ValueMapper.MapFromEditor(null, args.Value)))
           type="number"
           class="form-control" />
</div>
