@inherits BasePropertyEditor

@using RapidCMS.UI.Helpers

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">#</span>
    </div>
    <input value=@GetValue()
           onchange=@(args => SetValue(args.Value))
           type="number"
           class="form-control @(CssHelper.GetValidationClass(State))" />

    @foreach (var message in GetValidationMessages())
    {
        <div class="invalid-feedback">
            @message
        </div>
    }
</div>

