@inherits BasePropertyEditor

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">#</span>
    </div>
    <input value=@GetValueAsString()
           @onchange=@(args => SetValueFromString((string)args.Value))
           type="number"
           class="form-control @(CssHelper.GetValidationClass(State))" />

    @foreach (var message in GetValidationMessages())
    {
        <div class="invalid-feedback">
            @message
        </div>
    }
</div>

