@inherits BaseRelationEditor

@using RapidCMS.Common.Data

@if (Options != null && SelectedOptions != null)
{
    var index = 0;
    var group = Guid.NewGuid().ToString();

    <div class="form-control form-control-select-list">
        
        @foreach (var option in Options)
        {
            <div class="form-check">
                <input class="form-check-input" 
                       type="radio" 
                       value=@option.Id
                       id=@group-option@(++index)
                       name=@group 
                       checked=@(SelectedOptions.Any(x => x.Id == option.Id)) 
                       onchange=@(async args => await DataCollection.SetElementAsync(option)) />
                <label class="form-check-label" for="@group-option@(index)">
                    @option.Label
                </label>
            </div>
        }
    </div>
}
@functions {
#nullable enable

    private IEnumerable<IElement>? Options;
    private IEnumerable<IElement>? SelectedOptions;

    protected override async Task OnInitAsync()
    {
        if (DataCollection != null)
        {
            DataCollection.SetRelationMetadata(Entity, Property);

            Options = await DataCollection.GetAvailableElementsAsync();
            SelectedOptions = await DataCollection.GetRelatedElementsAsync();
        }
    }
}