@inherits BasePropertyEditor

@using RapidCMS.UI.Helpers

<input value=@GetValue()
       @onchange=@(args => SetValue(args.Value))
       class="form-control @(CssHelper.GetValidationClass(State))" />

@foreach (var message in GetValidationMessages())
{
    <div class="invalid-feedback">
        @message
    </div>
}