@inherits BasePropertyEditor

@using RapidCMS.UI.Helpers

<textarea value=@GetValue()
          onchange=@(args => SetValue(args.Value))
          class="form-control @(CssHelper.GetValidationClass(State))"></textarea>

@foreach (var message in GetValidationMessages())
{
    <div class="invalid-feedback">
        @message
    </div>
}