.publish-state {
    display: inline-block;
    background: #f3f2f1;
    text-transform: lowercase;
    font-variant: small-caps;
    padding: .3rem 1rem .5rem 2.6rem;
    position: relative;
    line-height: 1.5;
}

    .publish-state::before {
        content: '';
        display: block;
        width: 12px;
        background: #d2d0ce;
        height: 12px;
        position: absolute;
        top: .8rem;
        left: 1rem;
        border-radius: 12px;
    }

    .publish-state.publish-state-draft::before {
        background: #ffaa44;
    }

    .publish-state.publish-state-published::before {
        background: #0b6a0b;
    }

    .publish-state.publish-state-changed::before {
        background: #e3008c;
    }

.entity-state
{
    display: block;
    float: right;
    width: 25rem;
    text-align: right;
}