@using System.Security.Claims
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor _httpContextAccessor

<div>
    @if (User.Identity.Name != null)
    {
        <a class="btn btn-primary" href="#">
            <i class="icon ion-md-person"></i>
            @GivenName
        </a>
        <a class="btn btn-primary" href="/AzureAD/Account/SignOut?post_logout_redirect_uri=@RedirectUri" target="_top">Logout</a>
    }
    else
    {
        <a class="btn btn-primary" href="/AzureAD/Account/SignIn?redirectUri=@RedirectUri" target="_top">Login</a>
    }
</div>

@code {
    private ClaimsPrincipal User;
    private string RedirectUri;
    private string GivenName;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        try
        {
            // Set the user to determine if they are logged in
            User = _httpContextAccessor.HttpContext.User;
            // Try to get the GivenName
            var givenName = _httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.GivenName);
            if (givenName != null)
            {
                GivenName = givenName.Value;
            }
            else
            {
                GivenName = User.Identity.Name ?? "No name";
            }
            // Need to determine where we are to set the RedirectUri
            RedirectUri = _httpContextAccessor.HttpContext.Request.Host.Value;
        }
        catch { }
    }
}
