@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContextAccessor

<h4>Hi!</h4>

<a class="btn btn-primary" href="/AzureAD/Account/SignIn?redirectUri=@RedirectUri" target="_top">Login via AD</a>

@code {

    private string RedirectUri;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RedirectUri = _httpContextAccessor.HttpContext.Request.Host.Value;
    }
}