@inherits LayoutComponentBase
@using RapidCMS.Common.Models.DTOs
@using RapidCMS.Common.Services
@inject ICollectionService CollectionService

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">

    </div>

    <div class="content px-4">
        <ul>
            @if (RootEntity != null)
            {
                @foreach (var collection in RootEntity.Collections)
                {
                    <CollectionTreeView Collection="@collection" />
                }
            }
        </ul>
    </div>
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@functions {
    CollectionTreeRootDTO RootEntity;

    protected override async Task OnInitAsync()
    {
        RootEntity = await CollectionService.GetCollectionsAsync();
    }
}
