@typeparam TContext

<button type="button" class="btn" onclick="@ButtonClickAsync">
    <i class="oi oi-@Icon"></i> @Label
</button>

@functions {
    [Parameter]
    private string Alias { get; set; }

    [Parameter]
    private string Icon { get; set; }

    [Parameter]
    private string Label { get; set; }

    [Parameter]
    private string ButtonId { get; set; }

    [Parameter]
    private Func<string, TContext, Task> CallbackAsync { get; set; }

    [Parameter]
    private TContext Context { get; set; }

    async Task ButtonClickAsync()
    {
        await CallbackAsync.Invoke(ButtonId, Context);
    }
}