@typeparam TContext

@using RapidCMS.UI.Components.Buttons

@inherits BaseButton<TContext>

@*

// TODO: this TContext is a bit weird for CustomButtons.     

*@

<button type="button" class="btn btn-light" onclick="@ButtonClickAsync">
    <i class="oi oi-@(Context.Icon ?? "puzzle-piece")"></i> @Context.Label
</button>

@functions { 
    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }
}