@inherits BaseButton

@using RapidCMS.UI.Components.Buttons

<div class="input-group col-3">
    <input @bind="NumberOfItems" type="text" class="form-control" />
    <div class="input-group-append">
        <button type="button" class="btn btn-outline-primary" @onclick="CreateAsync">
            <i class="oi oi-@(Model.Icon ?? "puzzle-piece")"></i> @Model.Label
        </button>
    </div>
</div>

@functions {
    private int NumberOfItems { get; set; } = 1;

    private async void CreateAsync()
    {
        await ButtonClickAsync(NumberOfItems);

        NumberOfItems = 1;
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
}