@if (Buttons != null && Buttons.Any())
{
	<div class="top-row">
		@foreach (var button in Buttons)
		{
			if (button.IsVisible?.Invoke(EditContext.Entity, EditContext.EntityState) ?? true)
			{
				var model = button.ToViewModel();
				model.OnClick = OnButtonClick;

				@button.ToRenderFragment(model);
			}
		}
	</div>
}

@code {
	[Parameter] public IEnumerable<ButtonUI>? Buttons { get; set; }
	[Parameter] public EventCallback<ButtonClickEventArgs> OnButtonClick { get; set; }
	[Parameter] public FormEditContext EditContext { get; set; } = default!;
}
