<td class="button-cell">
    @if (Buttons != null && Buttons.Any())
    {
        @foreach (var button in Buttons)
        {
            var model = button.ToViewModel();

            model.OnClick += async (sender, args) => await OnButtonClick.InvokeAsync(args);

            @button.ToRenderFragment(model);
        }
    }
</td>

@code {
    [Parameter] public IEnumerable<ButtonUI>? Buttons { get; set; }
    [Parameter] public EventCallback<ButtonClickEventArgs> OnButtonClick { get; set; }
}
