@if (Field != null)
{
    <td @onclick="HandleClick">
        @Field.Name
        <small>@Field.Description</small>

        @if (Field.IsSortable())
        {
            var direction = GetDirection();
            @if (direction == OrderByType.None)
            {
                <Icon Name="Sort" />
            }
            else if (direction == OrderByType.Ascending)
            {
                <Icon Name="SortUp" />
            }
            else if (direction == OrderByType.Descending)
            {
                <Icon Name="SortDown" />
            }
        }
    </td>
}

@code {
    private OrderByType GetDirection() => Field == null ? default : Sorts?.Get(Field.Index) ?? Field.SortDirection;

    [Parameter] public FieldUI? Field { get; set; }
    [Parameter] public SortBag? Sorts { get; set; }
    [Parameter] public EventCallback<SortEventArgs> OnSortChanged { get; set; }

    private async Task HandleClick(MouseEventArgs args)
    {
        if (Field?.IsSortable() ?? false)
        {
            var newDirection = GetDirection() switch
            {
                OrderByType.Ascending => OrderByType.Descending,
                OrderByType.Descending => OrderByType.None,
                _ => OrderByType.Ascending,
            };
            
            await OnSortChanged.InvokeAsync(new SortEventArgs(Field.Index, newDirection));
        }
    }
}
