@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    /*font-family: 'Segoe UI';*/
    font-size: 15px;
    background: #e0e0e0;
}

.oi {
    font-size: 15px !important;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    margin: 0rem 1rem;
    padding: 0rem .5rem;
    background: #efefef;
    box-shadow: rgba(0,0,0,0.2) 2px 2px 3px;
}

.main {
    flex: 1;
    margin-left: 450px;
}

.sidebar {
    width: 450px;
    position: fixed;
    top: 0;
    height: 100%;
    overflow-x: hidden;
    border-right: 1px solid #c8c8c8;
    background-color: #e0e0e0;
}

    .sidebar .top-row {
        margin: 0;
        padding: 0 1rem;
        background-color: #03AAF3;
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar ul {
        margin: 0;
        padding: 0 0 0 0;
    }

    .sidebar li {
        margin: 0 0 0 0;
        padding: 0 0 0 1rem;
    }

.nav-item {
    font-size: 0.8666666667rem;
}

    .nav-item .toggle {
        border: 0;
        background: none;
        margin: 1rem -2rem 0 -1rem;
        padding: 0;
        float: left;
        width: 1.5rem;
    }

    .nav-item .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .nav-item a {
        padding: 0 1rem;
        color: #070707;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 2rem;
    }

        .nav-item a.disabled {
            color: #070707;
        }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.5);
            color: #070707;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.5);
            color: #070707;
            text-decoration: none;
        }

        .nav-item a.disabled:hover {
            background-color: rgba(255,0,0,0.1);
            color: #070707;
        }

.nav-tabs {
    margin: 0 1rem;
    border-bottom: 0;
}

    .nav-tabs .nav-item {
        margin: 0;
    }

    .nav-tabs .nav-link {
        border-radius: 0px !important;
        padding: 0 1rem;
        line-height: 3rem;
        border: 0;
    }

        .nav-tabs .nav-link.active {
            background: #efefef;
            border: 0;
            margin: 0;
        }

        .nav-tabs .nav-link:hover {
            border: 0;
            margin: 0;
        }

    .nav-tabs .nav-item.search {
        display: block;
        margin: 0.3rem 0 0.3rem auto;
    }

.sidebar .nav-item a {
    margin-left: -1rem;
    padding-left: 2rem;
}

.content {
    background: #fff;
    padding: 1.1rem 1rem 1rem 1rem;
    box-shadow: rgba(0,0,0,0.2) 2px 2px 3px;
    margin: 0rem 1rem 1rem;
}

    .content .top-row {
    }

    .content .nested-content {
        margin: 1.1rem -1rem -1rem -1rem;
        padding-top: 1rem;
        padding-bottom: .5rem;
        background: #e8e8e8;
    }

    .content .nested-buttons {
        margin: -1rem -1rem 1rem -1rem;
    }

    .content .nested-buttons .top-row {
        margin: 0;
        box-shadow: none;
    }

.nested-content:first-of-type {
    margin-top: -1.1rem;
}

.nested-content + .form-row {
    margin-top: 2rem;
}

.content .content {
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.block-header {
    font-size: 1.2rem;
    font-weight: 600;
    margin: -1rem -1rem 1rem -1rem;
    padding: .5rem 1rem;
    border-bottom: 1px solid #dee2e6;
}

app {
    flex-direction: row;
}


.navroot {
}

.navbar-toggler {
    display: none;
}

.sidebar .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
}

a.current-page {
    background: #ddd;
}

.btn {
    margin-right: 5px;
    border-radius: 0;
}

.form-row {
    padding-top: .1rem;
    padding-bottom: .1rem;
    margin-bottom: .5rem;
}

    .form-row:last-of-type {
        border-bottom: 0;
    }

.form-control {
    border-radius: 0;
}

    .form-control .row {
        margin: 0;
    }

    .form-control .col {
        padding: 0;
    }

.input-group-prepend *, .input-group-append * {
    border-radius: 0 !important;
}

.nav-item div a {
    width: 50%;
    float: left;
    text-overflow: ellipsis;
}

.form-control-select-list {
    height: 150px;
    overflow: auto;
}

small {
    color: #888;
}

table thead td, table thead td {
    border-top: 0 !important;
    border-bottom: 2px solid #ced4da;
    vertical-align: top !important;
}

table td {
    vertical-align: middle !important;
}

    table td.button-cell {
        white-space: nowrap;
        text-align: right;
    }

pre {
    background: #f0f0f0;
}

.pagination {
    margin-top: 4rem;
}

.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 0px !important;
}
