@inherits BaseButton

@using RapidCMS.UI.Components.Buttons

<button type="button" class="btn btn-dark" @onclick="DoItAsync">
    <Icon Name="@(Model.Icon ?? "WebComponents")" /> @Model.Label
</button>

@code {
    private async void DoItAsync()
    {
        await ButtonClickAsync();
    }
}