@inherits BaseSection

@if (modelMakerEntity != null)
{
    <div class="entity-state">
        <span class="publish-state publish-state-@(modelMakerEntity.State.ToString().ToLower())">@modelMakerEntity.State</span>
        @*
        TODO: creation publication and update times dependent on state    
        *@
    </div>
}

@code
{
    [CascadingParameter(Name = "EditContext")] private FormEditContext? EditContext { get; set; }

    private IPublishableModelMakerEntity? modelMakerEntity;

    protected override Task OnInitializedAsync()
    {
        modelMakerEntity = EditContext?.Entity as IPublishableModelMakerEntity;

        return base.OnInitializedAsync();
    }
}
