@inherits BasePropertyEditor

<div>
    <label class="form-check-label">
        <input checked=@GetValueAsObject()
               @onchange=@(args => SetValueFromObjectAsync(((bool?)args.Value) ?? false))
               type="checkbox"
               disabled=@IsDisabled
               class="form-check-input position-static @(CssHelper.GetValidationClass(State))" />
    </label>

    @foreach (var message in GetValidationMessages())
    {
        <div class="invalid-feedback">
            @message
        </div>
    }
</div>