@inherits BasePropertyEditor

@{ 
    var date = (DateTime?)GetValueAsObject();

    if (date.HasValue && date.Value == DateTime.MinValue)
    {
        date = DateTime.UtcNow.Date;
    }
}

<input value=@(!date.HasValue ? "" : date.Value.ToString("yyyy-MM-dd"))
       disabled=@IsDisabled
       @onchange=@(args => SetValueFromObjectAsync((DateTime.TryParse(((string?)args.Value) ?? "", out var result) ? result : default(DateTime?)!)))
       class="form-control @(CssHelper.GetValidationClass(State))"
       placeholder=@Placeholder
       type="date" />

@foreach (var message in GetValidationMessages())
{
    <div class="invalid-feedback">
        @message
    </div>
}