@inherits BasePropertyEditor

<input value=@GetValueAsString()
       @onchange=@(args => SetValueFromString((string)args.Value))
       class="form-control @(CssHelper.GetValidationClass(State))" />

@foreach (var message in GetValidationMessages())
{
    <div class="invalid-feedback">
        @message
    </div>
}