@inherits BasePropertyEditor

<textarea value=@GetValueAsString()
          @onchange=@(args => SetValueFromString(((string?)args.Value) ?? ""))
          disabled=@IsDisabled
          placeholder=@Placeholder
          class="form-control @(CssHelper.GetValidationClass(State))"></textarea>

@foreach (var message in GetValidationMessages())
{
    <div class="invalid-feedback">
        @message
    </div>
}