@inherits BaseSidePane

<h3>Are you sure you want to reset all passwords?</h3>

<div class="buttonbar">
    <button class="btn btn-danger" @onclick=ResetPasswordsAsync>Yes</button>
    <button class="btn btn-dark" @onclick=Cancel>No</button>
</div>

@code {
    // Side panes can Inject any dependency they require, and even modify data based upon user actions
    // You have access to the EditContext, so you can even edit the entity on which this pane was opened.


    // This code below is only an example.
    // Please do not use the IRepository based classes in your components. (and you can't, since you cannot access IRepository)
    [Inject] private JsonRepository<User> Repository { get; set; } = default!;

    async Task ResetPasswordsAsync()
    {
        var repo = Repository as IRepository;

        var users = await repo.GetAllAsync(null, Query.Default());

        foreach (var user in users)
        {
            var typedUser = (User)user;
            typedUser.Password = "Reset";

            await repo.UpdateAsync(EditContext);
        }

        // CrudType Refresh refreshes the data in the view
        ButtonClicked(CrudType.Refresh);
    }

    void Cancel()
    {
        // CrudType None does nothing
        ButtonClicked(CrudType.None);
    }
}
