<AuthorizeView>
    <div>
        <div class="btn btn-primary"><i class="icon ion-md-contact"></i> Hi, @context.User.Identity.Name!</div>
        <a class="btn btn-primary" href="/AzureAD/Account/SignOut?post_logout_redirect_uri=/" target="_top">Logout</a>
    </div>
</AuthorizeView>
