<AuthorizeView>
    <div>
        <div class="btn btn-primary"><Icon Name="Contact" /> Hi, @context.User.Identity?.Name!</div>
        <a class="btn btn-primary" href="/MicrosoftIdentity/Account/SignOut" target="_top"><Icon Name="SignOut" /> Logout</a>
    </div>

</AuthorizeView>
