<td class="button-cell">
    @if (Buttons != null && Buttons.Any())
    {
        @foreach (var button in Buttons)
        {
            var model = button.ToViewModel();

            model.OnClick += OnButtonClick;

            @_buttons.GetButton(button.CustomAlias, model);
        }
    }
</td>

@code {
    [Parameter] public IEnumerable<ButtonUI>? Buttons { get; set; }
    [Parameter] public EventHandler<ButtonClickEventArgs> OnButtonClick { get; set; }
    [CascadingParameter(Name = "Buttons")] protected ButtonRenderFragmentContainer _buttons { get; set; }
}
