@inherits BasePropertyEditor

@using RapidCMS.UI.Components.Editors
@using RapidCMS.UI.Helpers

<div class="input-group">
    <div class="input-group-prepend">
        <button type="button" class="btn btn-outline-primary" @onclick="@Generate">
            <i class="oi oi-key"></i> Generate new password
        </button>
    </div>
    <input value=@GetValueAsString()
           @onchange=@(args => SetValueFromString((string)args.Value))
           class="form-control @(CssHelper.GetValidationClass(State))" />

    @foreach (var message in GetValidationMessages())
    {
        <div class="invalid-feedback">
            @message
        </div>
    }
</div>

@functions {
    private void Generate()
    {
        SetValueFromString(string.Join("-", Guid.NewGuid()
            .ToString()
            .Split('-')
            .Select((x, i) => (i % 2 == 0) ? x : x.ToUpper())));

    }

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }
}
