@using RapidCMS.UI.Components.Editors

@inherits BaseEditor<string>

<div class="input-group">
    <div class="input-group-prepend">
        <button type="button" class="btn btn-outline-primary" onclick="@Generate">
            <i class="oi oi-key"></i> Generate new password
        </button>
    </div>
    <input bind="@Value" class="form-control" />
</div>

@functions {
    private void Generate()
    {
        Value = string.Join("-", Guid.NewGuid()
            .ToString()
            .Split('-')
            .Select((x, i) => (i % 2 == 0) ? x : x.ToUpper()));

    }

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }
}
