@import url('bootstrap/bootstrap.min.css');
@import url('https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css');

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    background: #faf9f8;
}

.ms-Icon {
    font-size: 14px !important;
    line-height: 12px;
    vertical-align: middle;
    background: none !important;
    margin-right: .4rem;
    padding-bottom: .2rem;
}

thead td .icon {
    font-size: 16px !important;
    line-height: 22px;
    color: #aaa;
    float: right;
}

thead td:hover .icon {
    color: #444;
}

#app, app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top {
    width: 100%;
    position: fixed;
    z-index: 1000;
}

    .top .top-row {
        height: 3.5rem;
        margin: 0;
        padding: 0 0.7rem 0 1rem;
        background-color: #004e8c;
    }

    .top .logo a {
        font-size: 1.3rem;
        color: #fff;
    }

        .top .logo a:hover {
            text-decoration: none;
        }

.main {
    flex: 1;
    margin-top: 3.5rem;
    margin-left: 100px;
}

    .main .messages {
        width: 450px;
        position: fixed;
        top: 4.9rem;
        right: 1.3rem;
        z-index: 100000;
    }

        .main .messages .message-list {
            width: 100%;
        }

            .main .messages .message-list div {
                border-radius: 0;
                border: 0px;
                box-shadow: 0 25.6px 57.6px 0 rgba(0,0,0,.22),0 4.8px 14.4px 0 rgba(0,0,0,.18);
            }

.sidebar {
    width: 100px;
    position: fixed;
    top: 3.5rem;
    height: 100vh;
    overflow-x: hidden;
    background-color: #fff;
    padding-top: 1rem;
}

@media(min-width: 600px) {
    .sidebar {
        width: 150px;
    }

    .main {
        margin-left: 150px;
    }
}

@media(min-width: 1000px) {
    .sidebar {
        width: 200px;
    }

    .main {
        margin-left: 200px;
    }
}

@media(min-width: 1200px) {
    .sidebar {
        width: 300px;
    }

    .main {
        margin-left: 300px;
    }
}

.sidebar ul {
    margin: 0;
    padding: 0 0 0 0;
}

.sidebar li {
    margin: 0 0 0 0;
    padding: 0 0 0 1rem;
}

.sidepane {
    width: 450px;
    height: calc(100vh - 3.5rem);
    position: fixed;
    right: 0;
    top: 3.5rem;
    border-left: 2px solid #b8b8b8;
    background: #ffffff;
    padding: 2rem;
    box-shadow: rgba(0,0,0,0.2) -2px -2px 6px;
    z-index: 100;
    overflow-y: auto;
}

    .sidepane .sidepane-section {
        margin-bottom: 2rem;
    }

    .sidepane .buttonbar {
        margin-top: 4rem;
        border-top: 1px solid #b8b8b8;
        padding: 1rem 0;
    }

.nav-item {
    font-size: 0.8666666667rem;
}

    .nav-item .toggle {
        border: 0;
        background: none;
        margin: .7rem -2rem 0 -1rem;
        padding: 0;
        float: left;
        width: 1.5rem;
    }

    .nav-item .paginate {
        border: 0;
        background: none !important;
        color: #777;
        padding: 0 1rem;
    }

        .nav-item .paginate:hover {
            color: #000;
        }

        .nav-item .paginate:disabled {
            color: #ccc;
        }

    .nav-item .ms-Icon {
        font-size: 1.1rem;
        padding-bottom: .1rem;
    }

    .nav-item a {
        padding: 0 1rem;
        color: #323130;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 2rem;
    }

        .nav-item a.disabled {
            background-color: #edebe9;
            color: #323130;
        }

        .nav-item a.active, .nav-item a.active:hover {
            background-color: #9abfdd;
        }

        .nav-item a:hover {
            background-color: #c7dced;
            text-decoration: none;
        }

        .nav-item a.disabled:hover {
            background-color: #fed9cc;
        }

.nav-tabs {
    margin: 0 0 1rem;
    border-bottom: 0;
}

    .nav-tabs .nav-item {
        margin: 0 1rem 0 0;
    }

    .nav-tabs .nav-link {
        border-radius: 0px !important;
        padding: 0 1rem;
        line-height: 3rem;
        border: 0;
        border-bottom: 2px solid #fff;
        color: #323130;
    }

        .nav-tabs .nav-link.active {
            border-bottom: 2px solid #0078d4;
            margin: 0;
            font-weight: bold;
        }

        .nav-tabs .nav-link:hover {
            border-bottom: 2px solid #c7dced;
            margin: 0;
        }

        .nav-tabs .nav-link.active:hover {
            border-bottom: 2px solid #0078d4;
            margin: 0;
        }

    .nav-tabs .nav-item.search {
        display: block;
        margin: -0.1rem 0 0.1rem auto;
    }

        .nav-tabs .nav-item.search .btn {
            background: #fff;
            border-color: #d2d0ce;
            border-left: 0;
            line-height: 0.5rem;
            text-align: right;
            color: black;
        }

    .nav-tabs.nav-tabs-collapse {
        margin: .2rem 0rem -2.6rem 0rem;
    }

.nested-content .nav-tabs.nav-tabs-collapse {
}


.sidebar .nav-item a {
    margin-left: -1rem;
    padding-left: 2rem;
}

.validation-summary-errors {
    background: #fdd;
    padding: 1rem 1rem 1rem 1rem;
    border-bottom: 4px solid #f55;
    box-shadow: rgba(0,0,0,0.2) 2px 2px 3px;
    margin: 0 1rem 0;
}

    .validation-summary-errors ul li {
        color: red;
    }

.content {
    background: #fff;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,.132),0 .3px .9px 0 rgba(0,0,0,.108);
    margin: 1rem 1rem 1rem;
}

.top-row {
    display: flex;
    align-items: center;
    margin: 0 0 2rem 0;
}

.content .top-row {
}

.content.buttons-only .top-row {
    margin: 0;
}

.content .nested-content {
    margin: 1rem 0;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

    .content .nested-content + .nested-content {
        border-top: 1px dashed #bebbb8;
    }

.content .divider + .nested-content {
    padding-top: 0;
}

.content .content {
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132),0 .6px 1.8px 0 rgba(0,0,0,.108);
}

.content .divider {
    margin: 2rem 0 2rem 0;
    border-top: 1px dashed #bebbb8;
    width: 100%;
}

.content .nested-buttons {
    margin: 0 0 2rem 0;
}

    .content .nested-buttons .top-row {
        margin: 0;
        box-shadow: none;
    }

.nested-content:first-of-type {
    margin-top: -1.1rem;
    border-top: 0;
}

.nested-content + .form-row {
    margin-top: 2rem;
}

.content .content {
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.block-header {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 2rem -1rem 1rem -1rem;
    padding: .5rem 1rem;
}

app {
    flex-direction: row;
}

.login {
    width: 300px;
    margin: 200px auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0 25.6px 57.6px 0 rgba(0,0,0,.22),0 4.8px 14.4px 0 rgba(0,0,0,.18);
}

.navroot {
}

.navbar-toggler {
    display: none;
}

.sidebar .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
}

a.current-page {
    background: #ddd;
}

.btn {
    margin-right: 5px;
    border-radius: 0;
    background: #d2d0ce;
    border-color: #d2d0ce;
}

    .btn .icon, .btn .spinner-border {
        margin-right: .5rem;
    }

    .btn.btn-primary {
        background: #0078d4;
        color: white;
        border-color: #0078d4;
    }

    .btn.btn-dark {
        background: #4a88ba;
        color: white;
        border-color: #4a88ba;
    }

    .btn.btn-danger {
        background: #d83b01;
        color: white;
        border-color: #d83b01;
    }

    .btn:hover {
        background: #004578;
        color: white;
        border-color: #004578;
    }

    .btn.btn-danger:hover {
        background: #a80000;
        color: white;
        border-color: #a80000;
    }

.login .btn {
    width: 100%;
}

.form-row {
    padding-top: .4rem;
    padding-bottom: .3rem;
}

    .form-row:last-of-type {
        border-bottom: 0;
    }

.form-control {
    border-radius: 0;
    border-color: #d2d0ce;
}

    .form-control[readonly], .form-control[disabled] {
        background-color: #f3f2f1;
    }

    .form-control .row {
        margin: 0;
    }

    .form-control .col {
        padding: 0;
    }

    .form-control.uploading {
        visibility: hidden;
        margin-bottom: calc(-1.5em - .75rem - 2px)
    }

    .form-control.is-valid, .form-control.is-invalid {
        padding-right: .75em !important;
    }

textarea.form-control{
    height: 300px;
}

.form-check {
    padding: .25rem 0 .25rem 2rem;
    margin: 0 1rem 0 -.4rem;
}

    .form-check:hover {
        background: #faf9f8;
    }

    .form-check.form-check-list {
        padding-left: .25rem;
        margin-right: -.5rem;
    }

pre.col-form-label {
    height: auto !important;
}

.input-group-prepend *, .input-group-append * {
    border-radius: 0 !important;
    background-color: #f3f2f1;
}

.nav-item div a {
    width: 50%;
    float: left;
    text-overflow: ellipsis;
}

.form-control-select-list {
    min-height: 30px;
    height: auto;
    max-height: 150px;
    overflow: auto;
    padding-bottom: 1rem;
}

    .form-control-select-list.block {
        max-height: 300px;
    }

.form-text.text-muted {
    margin-top: -.25rem;
}

.details {
    margin-top: .2rem;
}

table {
    border-collapse: collapse;
}

    table thead td {
        border-top: 0 !important;
        border-bottom: 1px solid #a19f9d;
        vertical-align: top !important;
        cursor: default;
    }

    table tbody td {
        border-bottom: 1px solid #d2d0ce;
    }

    table tbody tr.dropzone td {
        border: 0;
    }

    table td {
        vertical-align: top !important;
    }

        table td.button-cell {
            white-space: nowrap;
            text-align: right;
            width: 1%;
        }

    table tr[draggable=true] td {
        cursor: grab;
    }

        table tr[draggable=true] td:first-of-type {
            border-left: .2rem solid #fff;
        }

            table tr[draggable=true] td:first-of-type:hover {
                border-left: .2rem solid #a19f9d;
            }

    table tr.dragged td {
        background: #edebe9;
        cursor: move !important;
    }

    table tr.modified td {
        background: #deecf9;
    }

    table tr.dropover {
        border-top: 12px solid #d2d0ce;
    }

    table thead td .ms-Icon {
        color: #979593;
        cursor: pointer;
    }

        table thead td .ms-Icon:hover {
            color: #484644;
        }

pre {
    background-color: #f3f2f1;
    padding: .5rem;
}

.pagination {
    margin-top: 4rem;
}

.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 0px !important;
}
