name: .NET Core

on: 
    push:
        branches:
        - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.100'
    - name: Build Core
      run: dotnet build --configuration Release ./src/RapidCMS.Api.WebApi/RapidCMS.Api.WebApi.csproj
    - name: Build Core
      run: dotnet build --configuration Release ./src/RapidCMS.Core/RapidCMS.Core.csproj
    - name: Build Repositories
      run: dotnet build --configuration Release ./src/RapidCMS.Repositories/RapidCMS.Repositories.csproj
    - name: Build UI
      run: dotnet build --configuration Release ./src/RapidCMS.UI/RapidCMS.UI.csproj
    - name: Publish Web Api
      run: dotnet nuget push ./src/RapidCMS.Api.WebApi/bin/Release/*.nupkg -k ${{ secrets.NUGET_APIKEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
    - name: Publish Core
      run: dotnet nuget push ./src/RapidCMS.Core/bin/Release/*.nupkg -k ${{ secrets.NUGET_APIKEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
    - name: Publish Repositories
      run: dotnet nuget push ./src/RapidCMS.Repositories/bin/Release/*.nupkg -k ${{ secrets.NUGET_APIKEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
    - name: Publish UI
      run: dotnet nuget push ./src/RapidCMS.UI/bin/Release/*.nupkg -k ${{ secrets.NUGET_APIKEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate