name: .NET Core PR

on: 
    pull_request:
        branches:
        - master
jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '10.0.x'
    - name: Build Api Core
      run: dotnet build --configuration Release ./src/RapidCMS.Api.Core/RapidCMS.Api.Core.csproj
    - name: Build Api Functions
      run: dotnet build --configuration Release ./src/RapidCMS.Api.Functions/RapidCMS.Api.Functions.csproj
    - name: Build Api WebApi
      run: dotnet build --configuration Release ./src/RapidCMS.Api.WebApi/RapidCMS.Api.WebApi.csproj
    - name: Build Core
      run: dotnet build --configuration Release ./src/RapidCMS.Core/RapidCMS.Core.csproj
    - name: Build Repositories
      run: dotnet build --configuration Release ./src/RapidCMS.Repositories/RapidCMS.Repositories.csproj
    - name: Build UI
      run: dotnet build --configuration Release ./src/RapidCMS.UI/RapidCMS.UI.csproj
    - name: Run Core Tests
      run: dotnet test ./src/RapidCMS.Core.Tests/RapidCMS.Core.Tests.csproj
