name: .NET Core

on: 
    push:
        tags:
        - '*.*.*'
jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Get tag
      id: tag
      uses: dawidd6/action-get-tag@v1
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '10.0.x'
        include-prerelease: true
    - uses: nuget/setup-nuget@v1
      with:
        nuget-api-key: ${{ secrets.NUGET_APIKEY }}
        nuget-version: '5.x'
    - name: Build Api Core
      run: dotnet build -p:PackageVersion=${{steps.tag.outputs.tag}} --configuration Release ./src/RapidCMS.Api.Core/RapidCMS.Api.Core.csproj
    - name: Build Api Functions
      run: dotnet build -p:FunctionPreviewPackageVersion=${{steps.tag.outputs.tag}}-preview --configuration Release ./src/RapidCMS.Api.Functions/RapidCMS.Api.Functions.csproj
    - name: Build Api WebApi
      run: dotnet build -p:PackageVersion=${{steps.tag.outputs.tag}} --configuration Release ./src/RapidCMS.Api.WebApi/RapidCMS.Api.WebApi.csproj
    - name: Build Core
      run: dotnet build -p:PackageVersion=${{steps.tag.outputs.tag}} --configuration Release ./src/RapidCMS.Core/RapidCMS.Core.csproj
    - name: Build Repositories
      run: dotnet build -p:PackageVersion=${{steps.tag.outputs.tag}} --configuration Release ./src/RapidCMS.Repositories/RapidCMS.Repositories.csproj
    - name: Build UI
      run: dotnet build -p:PackageVersion=${{steps.tag.outputs.tag}} --configuration Release ./src/RapidCMS.UI/RapidCMS.UI.csproj
    - name: Publish Api Core
      run: dotnet nuget push .\src\RapidCMS.Api.Core\bin\Release\*.nupkg -k ${{ secrets.NUGET_APIKEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
    - name: Publish Api Functions
      run: dotnet nuget push .\src\RapidCMS.Api.Functions\bin\Release\*.nupkg -k ${{ secrets.NUGET_APIKEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
    - name: Publish Api WebApi
      run: dotnet nuget push .\src\RapidCMS.Api.WebApi\bin\Release\*.nupkg -k ${{ secrets.NUGET_APIKEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
    - name: Publish Core
      run: dotnet nuget push .\src\RapidCMS.Core\bin\Release\*.nupkg -k ${{ secrets.NUGET_APIKEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
    - name: Publish Repositories
      run: dotnet nuget push .\src\RapidCMS.Repositories\bin\Release\*.nupkg -k ${{ secrets.NUGET_APIKEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
    - name: Publish UI
      run: dotnet nuget push .\src\RapidCMS.UI\bin\Release\*.nupkg -k ${{ secrets.NUGET_APIKEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate