@page "/collection/{Alias}"
@page "/collection/{Alias}/{ParentId:int}"

@using RapidCMS.Common.Models.DTOs
@using RapidCMS.Common.Services
@using RapidCMS.Common.Extensions
@inject ICollectionService CollectionService

<h1>Collection view of @Alias</h1>

@if (ListView == null)
{
    <p>Loading..</p>
}
else
{
    @foreach (var pane in ListView.ViewPanes)
    {
        var data = pane.Properties.Select(x => x.Value).Pivot();

        <table class="table">
            <thead>
                <tr>
                    @foreach (var header in pane.Properties.Keys)
                    {
                        <td>@header.Name<br /><small>@header.Description</small></td>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in data)
                {
                    <tr>
                        @foreach (var col in row)
                        {
                            <td>@col</td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        <hr />
    }
}

@functions {
    [Parameter]
    private string Alias { get; set; }

    [Parameter]
    private int? ParentId { get; set; } = null;

    CollectionListViewDTO ListView;

    protected override async Task OnParametersSetAsync()
    {
        ListView = await CollectionService.GetCollectionListViewAsync(Alias, ParentId);
    }
}